@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small global helpers */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar for horizontal scrolling sections */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
